@import url(reset.css);

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Grid GENERAL */

.grid-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50px 1fr 52px;
    grid-template-areas: 'header' 'main' 'footer';
    height: 100vh;
}


.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.header__search {
    margin-left: 42px;
}

.header__bar {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    align-content: flex-end;
    text-align: right;
    width: 100%;

}

/* SIDEBAR */

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    transform: translateY(200%);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2;
    background-color: #222d32;
}

.sidenav.open {
      transform: translateY(0);
}

.sidenav__logo {
  margin: 0 auto;
  padding: 16px 0;
}

.sidenav__logo img {
  width: 100px;
}


.sidenav__list {
    padding: 0;
    margin-top: 12px;
    list-style-type: none;
}

.sidenav__list-item {
    color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.sidenav__list-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidenav__list-item a {
    color: #b8c7ce;
    text-decoration: none;
    padding: 20px 20px 20px 32px;
    display: block;
}

.icon-menu {
  margin-right: 8px;
}

.submenu {
  display: none;
  background: #324f5f;
}

.submenu.open {
  display: block;
}

/* STICKY BUTTON MOBILE */

.button-sticky-mobile {
  display: None;
  height: 52px;
  text-align: center;
  width: 100%;
}

.button-sticky-mobile a {
  color:white;
}

@media only screen and (max-width: 754px) {
  .button-sticky-mobile {
      display: block !important;
  }

  .sidenav {
    width: 100%;
  }

  footer {
    padding: 0 !important;
    z-index: 3;
  }
}

.main {
    grid-area: main;
    background-color: #ecf0f5;
    padding: 2rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: #e3e4e6;
    color: slategray;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d3d3;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
}

.card:first-child {
    height: 485px;
}

.card:nth-child(2) {
    height: 200px;
}

.card:nth-child(3) {
    height: 265px;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

@media only screen and (min-width: 754px) {
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "header header" "sidenav main" "sidenav footer";
    }

    .header__search {
        margin-left: 0;
    }

    .sidenav {
        position: relative;
        transform: translateX(0);
    }

}

/* TABLES */

table {
    border-collapse: collapse;
    width: 100%;
    margin: 4vh 0;
    border: 1px solid black;
}

@media only screen and (max-width: 754px) {
  table {
         display: block;
         overflow-x: auto;
  }
}

thead {
    background-color: #222d32;
    font-size: 1.1em;
    font-weight: 600;
    border: 1px solid;
    color: #b8c7ce;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
    vertical-align: middle;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */

.hoverTable {
    width: 100%;
    border-collapse: collapse;
}

.hoverTable td {
    padding: 7px;
    border: #000000 1px solid;
}


.hoverTable tr {
    background: #efeff0;
}

.hoverTable tr:hover {
    background-color: #ffff99;
}

.minstock-alert {
  color: red;
  background-color: #ff00001c;
}

.alert {
  animation: alert 1s step-start infinite;
  float: right;
}

@keyframes alert {
  50% {
    opacity: 0;
  }
}

/* FILTRO */

.table-filter {
    margin: 10px 0;
    float: right;
}

.table-search {
    margin: 10px 0;
    float: left;
}

.table-filter input, .table-search input {
  padding: 1em;
  padding-left: 2.375rem;
}

.table-filter .search-icon, .table-search .search-icon {
    position: absolute;
    z-index: 1;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* THUMBNAIL */

img.thumbs {
  width: 50px;
  height: auto;
}
#thumb-hover {
    height: 150px;
    width: 150px;
    position:absolute;
    min-height: 1px;
    background-size: contain;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;

    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
       -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
        -ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
         -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 15px rgba(0,0,0,0.5);


}


/* BOTONES */
.btn {
    display: inline-block;

    margin-bottom: 0;

    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
}

.btn-bg {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
}

.btn-md {
    padding: 4px 8px;
    font-size: 12px;
}

.btn-sm {
    padding: 2px 6px;
    font-size: 8px;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #254e2f;
}

.btn-info {
    background-color: #3c8dbc;
}

.btn-info:hover {
    background-color: #224f69;
}

.btn-action {
    background-color: #17a2b8;
}

.btn-alert {
    background-color: #ffc107;
    color: black;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #6d1e26;
}

.btn-fullw {
    width: 100%;
}

/* TITULOS */

.page-init h3 {
  font-size: 20px;
  font-weight: bolder;
  padding: 12px 0;
}

/* FORM */

.form-create,
.form-edit {
    background-color: #f2f2f2;
}

.form-group  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 12px 0;
    margin: 20px 0;
}

@media only screen and (max-width: 754px) {

    .form-group  {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    

}

form label {
display: block;
}
form p {
margin: 0;
}
  

.form-group input,
.form-group textarea,
.form-group select {
    grid-column: controls;
    grid-row: auto;
    padding: 1em;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

.form-control-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;    
}
.form-control-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
} 

/* INGRESOS */

#detalles input {
  background-color: transparent;
  border: none;
}

#detalles input::-webkit-outer-spin-button,
#detalles input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* GRID MAIN */

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

/* PAGINATION */

.pagination {
  text-align: center;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
  margin: 4px
}

.pagination li.active {
    background-color: #222d32;
    color: white;
    padding: 4px
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/* predictive */

.autocomplete {
    position: relative;
    /* display: inline-block; */
  }
  
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }