/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
\.idea/dataSources\.local\.xml
\.idea*
\.idea/dataSources\.xml

\.idea/dataSources/212a5d20-f03c-465a-a59f-bcd0a48cea77\.xml

\.idea/dataSources/212a5d20-f03c-465a-a59f-bcd0a48cea77/storage_v2/_src_/schema/dbventaslaravel\.dKHUCg\.meta

\.idea/dataSources/212a5d20-f03c-465a-a59f-bcd0a48cea77/storage_v2/_src_/schema/dbventaslaravel\.dKHUCg\.zip

\.idea/dictionaries/Daniel\.xml

\.idea/laravel-plugin\.xml

\.idea/mg-audio\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
